.cardContainer {
  perspective: 1000px;
  max-width: 336px; /* 3.5 inches */
  max-height: 192px; /* 2 inches */
}

.cardContainer:hover .card {
  transform: rotateY(180deg);
}

.disableHover:hover .card {
  transform: none; /* Disable hover flip when disableHover is true */
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s; /* Apply transition here */
}

.isFlipped {
  transform: rotateY(180deg);
}

.cardFace {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cardFaceBack {
  transform: rotateY(180deg);
}

.cardFaceFront {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.downloadBackground {
  background: #000 !important; /* Pure darker background */
  border-radius: 0 !important; /* Remove border-radius */
}

.downloadBackground .cardContent {
  background: #000 !important; /* Pure darker background for cardContent */
  border-radius: 0 !important; /* Remove border-radius */
}

.downloadBackground .cardContent::after {
  content: none !important; /* Remove overlay */
}

.cardContent {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    #1a1a1a 0%,
    #000000 100%
  ); /* Darker metallic background */
  position: relative;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.05),
    transparent 70%
  );
  mix-blend-mode: screen;
  pointer-events: none;
}

.downloading .cardContent {
  background: #000 !important; /* Remove gradient */
}

.downloading .cardContent::after {
  content: none !important; /* Remove overlay */
}

.qrCode {
  position: absolute;
  bottom: 16px;
  right: 16px;
  z-index: 1;
}

.brandLogo {
  margin-bottom: 8px;
  z-index: 0;
}

.brandName {
  font-size: 20px; /* Adjusted font size */
  font-weight: bold;
  margin-bottom: 4px;
  color: #ffffff;
  text-align: left; /* Left-aligned */
}

.contactInfo {
  font-size: 12px;
  margin-bottom: 2px;
  text-align: left; /* Left-aligned */
  color: #ffffff; /* Ensure text is white */
}

.logoImage {
  /* filter: grayscale(100%) brightness(200%); */
}

.swapButton {
}

@media (hover: none) and (pointer: coarse) {
  .cardContainer:hover .card {
    transform: none;
  }
}
